@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Acme&family=Alfa+Slab+One&family=Open+Sans:wght@300&family=Poppins:wght@300;400;500;600;700&family=Roboto+Mono:wght@100&family=Signika+Negative:wght@400;700&family=Source+Code+Pro:wght@200&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body{
  font-family: 'Poppins', sans-serif;
}

a{
  text-decoration: none;
}
/* navigation bar css starts */

.navigation-bar{
  background-color: #451f55;
  z-index: 1000;
}


header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  padding: 20px 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.navigation-bar .branch-name{
  font-weight: 600;
  color: white;
  font-size: 25px;
  justify-content: flex-start;
  padding: 20px;
  font-family: 'Poppins', sans-serif;
}

.navigation-bar .navbar ul{
  list-style: none;
}

.navigation-bar .navbar ul li{
  position: relative;
  float: left;
}

.navigation-bar .navbar ul li a{
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 20px;
  color:white;
  display: block;
  text-decoration: none;
}

.navbar ul li a:hover{
  text-decoration: underline;
  background-color: inherit;
}

/* check box */

.checkbtn{
  font-size: 30px;
  color: white;
  line-height: 80px;
  float: right;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check{
  display: none;
}

/* navigation bar css ends */



/* animation area css starts*/

.top-area{
  background-color: #451f55;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height:90vh;
}

.skew{
  transform: skew(0deg,-10deg) translateY(-150px);
}

.container{
  margin-left: 120px;
  margin-bottom: 80px;
  margin-top: 100px;
  transform: skew(0deg,10deg);
}

.wrapper{
  display: inline-flex;
  justify-content: flex-start;
  margin-top: 100px;
}

.inner-container{
  display: flex;
  justify-content: flex-start;
  font-weight: 600;
  font-size:25px;
  margin-top: 30px;
}

.wrapper .static-text{
  color:#fff;
  font-size: 60px;
  font-weight: 600;
}

.wrapper .dynamic-texts{
  margin-left: 20px;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}

.wrapper .dynamic-texts li{
  list-style: none;
  color: #fc6d6d;
  position: relative;
  top:0;
  font-size: 60px;
  font-weight: 600;
  animation: slide 6s steps(4) infinite;
}

@keyframes slide {
  100%{
    top:-360px;
  }
}

.dynamic-texts li span{
  position: relative;
}

.dynamic-texts li span::after{
  content:"";
  left:0;
  position: absolute;
  height: 100%;
  background: #451f55;
  width:100%;
  border-left:2px solid #fc6d6d;
  animation: typing 1.5s steps(11) infinite;
}

@keyframes typing {
  100%{
    left:100%;
    margin: 0 -35px 0 35px;
  }
}

.inner-container{
  color:white;
}

.join-us-button{
  font-family: 'Poppins';
  padding:15px;
  border-radius: 10px;
  border:none;
  margin-top: 45px;
  font-size: 20px;
  font-weight: 600;
  transition: transform .2s;
  cursor: pointer;
}

.join-us-button:hover{
  transform: scale(1.2);
}


.join-us-button a,
.join-us-button a:focus,
.join-us-button a:active{
  color: #451f55;
}


/* animation area css ends*/


/* introduction to wie starts */
.Introduction{
  width:70%;
  text-align: center;
  margin: auto;
}

.Introduction .heading{
  color:#2b2b2b;
  font-size: 2rem;
  text-align: center;
  margin-top: 10px;
  letter-spacing: 0.8px;
  font-weight: 600;
  font-family: 'Poppins';
}

.Introduction .subheading{
  font-size: 1.2rem;
  color: #772583;
  font-weight: 500;
  font-family: 'Poppins';
}

.Introduction .intro{
  width:100%;
  padding: 20px;
  font-family: 'Poppins';
}

.Introduction .intro h2{
  text-align: center;
  margin-top: 50px;
  letter-spacing: 0.8px;
  font-size:1.5rem;
  color:#2b2b2b;
  font-weight: 600;
  font-family: 'Poppins';
}

.Introduction p{
  text-align: justify;
  font-size: 1.2rem;
  line-height: 35px;
  margin-top: 15px;
  font-family: 'Poppins';
}

.Introduction p:last-child{
  margin-bottom: 50px;
}
/* introduction to wie ends */


/* blog section starts */
.blog{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.05);
  background-color: #f2f3f7;
}

.blog-heading{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.blog-heading h3{
  font-size: 2.4rem;
  color:#2b2b2b;
  font-weight: 600;
}

.blog-heading span{
  text-transform: uppercase;
}

.blog-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 20px 0px;
  flex-wrap: wrap;
}

.blog-box{
  width:350px;
  background-color: #ffffff;
  border: 1px solid #ececec;
  margin: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.blog-img{
  width: 100%;
  height:200px;
}

.blog-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.blog-text{
  padding: 30px;
  display:flex;
  flex-direction: column;
}

.blog-text span{
  color: #772583;
  font-size: 0.9rem;
  transition: all ease 0.3s;
}


.blog-text .blog-title{
  font-size: 1.3rem;
  font-weight: 500;
  color: #272727;
  text-decoration: none;
}


.blog-text a{
  color: #0f0f0f;
  margin-top: 10px;
}

.blog-text a:hover{
  color: #772583;
  transition: all ease 0.3s;
}

.blog .more-blogs{
  background-color: #451f55;
  padding: 15px;
  border-radius: 10px;
  color:white;
  font-weight: 600;
  transition: transform 0.3s;
}

.blog .more-blogs:hover{
  transform: scale(1.1);
}

/* blog section css ends */

/* resources section css starts */

.resources{
  display: flex;
  flex-direction: column;
  align-items: center;
  width:100%;
  padding: 40px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.05);
}

.resources-container{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.supporting-text{
  width:40%;
}

.supporting-text h3{
  font-size: 2.4rem;
  color:#2b2b2b;
  font-weight: 600;
  text-transform: uppercase;
}

.supporting-text p{
  text-align: justify;
  margin: 20px 0;
  color: #6c757d;
  line-height: 25px;
}

.supporting-text a{
  color: white;
  font-weight: 600;
}

.supporting-text button{
  background-color: #451f55;
  padding: 15px;
  border-radius: 10px;
  border: none;
  margin-top: 25px;
  transition: transform 0.3s;
}

.supporting-text button:hover{
  transform: scale(1.1);
}

.resources-container .images{
  display: flex;
  flex-wrap: wrap;
  width:25%;
}

.resources-container .images img{
  width:100%;
}

/* resources section css ends */


/* events section starts */


.events{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.05);
  background-color: #f2f3f7;
}

.events-heading{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.events-heading h3{
  font-size: 2.4rem;
  color:#2b2b2b;
  font-weight: 600;
}

.events-heading span{
  text-transform: uppercase;
}

.events-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 20px 0px;
  flex-wrap: wrap;
}

.events-box{
  width:350px;
  background-color: #ffffff;
  border: 1px solid #ececec;
  margin: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.events-img{
  width: 100%;
  height:450px;
}

.events-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.events-text{
  padding: 30px;
  display:flex;
  flex-direction: column;
}

.events-text span{
  color: #f33c3c;
  font-size: 0.9rem;
  transition: all ease 0.3s;
}


.events-text .events-title{
  font-size: 1.3rem;
  font-weight: 500;
  color: #272727;
  text-decoration: none;
}

.events-text p{
  color: #6c757d;
  font-size: 0.9rem;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 20px 0px;
}

.events-text a{
  color: #0f0f0f;
}

.events-text a:hover{
  color: #f33c3c;
  transition: all ease 0.3s;
}

.events .more-events{
  background-color: #451f55;
  padding: 15px;
  border-radius: 10px;
  color:white;
  font-weight: 600;
  transition: transform 0.3s;
}

.events .more-events:hover{
  transform: scale(1.1);
}

/* events section ends */

/* footer css starts */

.footer-container{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  font-family: 'Poppins', sans-serif;
}

.footer-row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

ul{
  list-style: none;
}

.footer{
  background-color:  #451f55;
  padding: 70px 0;
}

.footer-col{
  width: 25%;
  padding: 0 15px;
}

.footer-col h4{
  font-size: 18px;
  color:#fff;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before{
  content: '';
  position: absolute;
  left:0;
  bottom:-10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li{
  color: #bbb;
}

.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}

.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color:white;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
}

.footer-col ul li a:hover{
  color: white;
  text-decoration: underline;
}

.footer-col .social-links a{
  display: inline-block;
  font-size: 20px;
  height: 40px;
  width:40px;
  background-color: rgba(255,255,255,0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  color: #fff;
  border-radius: 50%;
  transition: all 0.5s ease;
}

.name{
  font-weight: bold;
}

.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #fff;
}

.footer-col .social-links .address{
  color:#bbb;
  margin-top: 20px;
  margin-left: 0px;
  font-family: 'Poppins', sans-serif;
  font-size: 0.95rem;
}

/* footer css ends */


/* responsiveness */


@media (max-width:650px) {
  /* animation area starts */
  .main-container{
    display: flex;
    flex-direction: column;
  }

  .top-area{
    min-height: 60vh;
  }

  .container{
    margin-top: 150px;
    margin-left: 40px;
  }

  .wrapper{
    display: block;
    margin-top: 150px;
  }

  .wrapper .static-text{
    color:#fff;
    font-size: 40px;
  }

  .wrapper .dynamic-texts{
    margin-left: 0px;
    height: 90px;
    line-height: 90px;
  }

  .wrapper .dynamic-texts li{
    font-size: 40px;
  }


  .dynamic-texts li span{
    position: relative;
  }

  .dynamic-texts li span::after{
    height: 130%;
    width:100%;
  }

  .inner-container{
    margin-top: 40px;
    font-size: 20px;
  }

  .join-us-button{
    margin-top: 50px;
    font-weight: 600px;
    font-size: 0.9rem;
    padding:15px;
  }

  /* animation area ends */

  /* introduction to wie starts */
  .Introduction{
    width: 100%;
  }

  .Introduction p{
    font-size: 0.98rem;
  }
  /* introduction to wie ends */

  /* resources section starts */
  .resources-container .images{
    width:60%;
  }
  /* resources section ends */

  /* events and blogs section starts */
  .blog .blog-box:nth-of-type(2),
  .events .events-box:nth-of-type(2),
  .blog .blog-box:nth-of-type(3),
  .events .events-box:nth-of-type(3){
    display: none;
  }

  .blog .blog-box,
  .events .events-box{
    width: 300px;
  }
  /* events and blogs section starts */

}

@media (min-width:550px) and (max-width:700px){

  .container{
    margin-left: 80px;
  }

  .wrapper{
    display: block;
    justify-content: flex-start;
    margin-top: 150px;
  }

  .wrapper .static-text{
    color:#fff;
    font-size: 40px;
  }

  .wrapper .dynamic-texts{
    margin-left: 0px;
    height: 90px;
    line-height: 90px;
  }

  .wrapper .dynamic-texts li{
    font-size: 40px;
  }

  .dynamic-texts li span::after{
    height: 150%;
    width:100%;
  }

  /* intro to wie starts */

  .Introduction .intro h2{
    font-size:1.2rem;
  }

  .Introduction p{
    font-size: 1rem;
  }

  /* intro to wie ends */
  .blog h3,
  .resources .supporting-text h3,
  .events h3{
    font-size:1.5rem;
  }

}

@media (min-width:650px) and (max-width:920px){
    /* animation area starts */
  .top-area{
    min-height: 60vh;
  }
  .container{
    margin-top: 180px;
  }
    /* animation area ends */

    /* resources section starts */
    .resources-container .images{
      width:40% !important;
    }
    /* resources section ends */

    /* events and blogs section starts */
    .blog .blog-box:nth-of-type(2),
    .events .events-box:nth-of-type(2),
    .blog .blog-box:nth-of-type(3),
    .events .events-box:nth-of-type(3){
      display: none;
    }
    /* events and blogs section ends */
}


@media (max-width:1000px) {

  /* navigation bar css starts */
  .navigation-bar .branch-name{
      display: block;
    }

    .checkbtn{
      display: block;
    }

    nav ul{
      position: fixed;
      width: 100%;
      height:40%;
      background: #451f55;
      top:80px;
      left:-100%;
      text-align: center;
      transition: all .5s;
      overflow-y: scroll;
    }

    nav ul li{
      width: 100%;
      display: block;
      margin: 20px 0;
      line-height: 15px;
    }

    nav ul li a{
      font-size:16px;
    }

    .navbar a:hover{
      background: none;
      color: #ceb8d9;
    }

    #check:checked ~ .nav-items{
      left:0%;
    }

  /* navigation bar css ends */

  /* resources section starts */
  .resources-container{
      width:80%;
      margin: auto;
      flex-direction: column-reverse;
  }

  .supporting-text{
    width:100%;
    margin-top: 20px;
    text-align: center;
  }

  .supporting-text h3{
    font-size: 2rem;
    text-align: center;
  }

  .resources-container .images{
    width:100%;
    justify-content: center;
    align-items: center;
  }


    /* resources section ends */
    .footer-col{
      width: 100%;
      margin-bottom: 30px;
    }

}

@media (min-width:1000px) and (max-width:1200px) {
  .blog .blog-box:nth-of-type(3),
  .events .events-box:nth-of-type(3){
    display: none;
  }

}
