@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Acme&family=Alfa+Slab+One&family=Open+Sans:wght@300&family=Poppins:wght@300;400;500;600;700&family=Roboto+Mono:wght@100&family=Signika+Negative:wght@400;700&family=Source+Code+Pro:wght@200&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  background-color: #f5f5f5;
}


/* navigation bar css starts */

.navigation-bar{
  background-color: #451f55;
  z-index: 1000;
}


header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  padding: 20px 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.navigation-bar .branch-name{
  font-weight: 600;
  color: white;
  font-size: 25px;
  justify-content: flex-start;
  padding: 20px;
}

.navigation-bar .navbar ul{
  list-style: none;
}

.navigation-bar .navbar ul li{
  position: relative;
  float: left;
}

.navigation-bar .navbar ul li a{
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 20px;
  color:white;
  display: block;
  text-decoration: none;
}

.navbar ul li a:hover{
  text-decoration: underline;
  background-color: inherit;
}

/* check box */

.checkbtn{
  font-size: 30px;
  color: white;
  line-height: 80px;
  float: right;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check{
  display: none;
}

/* navigation bar css ends */

h1{
  font-size: 1.4rem;
  font-weight: 600;
  color: #343a40;
  text-transform: uppercase;
}

.advisory-committee{
  margin-top:150px;
  text-align: center;
}

.executive-commitee,
.outer-container{
    text-align: center;

}

.advisory-committee,
.outer-container .core-committee,
.outer-container .organising-committee{
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  flex-wrap: wrap;
}


.advisory-commitee-row,
.executive-commitee-row{
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  flex-wrap: wrap;
}


.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .card{
  width:300px;
  height:350px;
  padding:40px 20px;
  margin: 40px;
  background: #f2f3f7;
  border-radius: 20px;
}

.container .card .content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container .card .content .imgBox{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;
  margin-bottom: 10px;
  overflow: hidden;
}

.container .card .content .imgBox img{
  /* position: absolute;
  top:0;
  left:0; */
  height:100%;
  width:100%;
  object-fit: cover;
}

.container .card .content .contentBox{
  color:#36187d;
  text-align: center;
}

.container .card .content .contentBox .name{
  font-weight: bold;
  font-size: 1.1rem;
  padding-bottom: 3px;
}

.container .card .content .contentBox .post{
  padding: 3px;
  font-size: 1rem;
}

.container .social-media{
  margin-top: 20px;
}

.social-media a{
  text-decoration: none;
  color: #6c758f;
  font-size: 30px;
  margin: 10px;
  transition: color 0.4s;
}

.social-media a:hover{
  color:#0196e3;
}


/* footer css starts */

.footer-container{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  font-family: 'Poppins', sans-serif;
}

.footer-row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

ul{
  list-style: none;
}

.footer{
  background-color:  #451f55;
  padding: 70px 0;
}

.footer-col{
  width: 25%;
  padding: 0 15px;
}

.footer-col h4{
  font-size: 18px;
  color:#fff;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before{
  content: '';
  position: absolute;
  left:0;
  bottom:-10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li{
  color: #bbb;
}

.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}

.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color:white;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
}

.footer-col ul li a:hover{
  color: white;
  text-decoration: underline;
}

.footer-col .social-links a{
  display: inline-block;
  font-size: 20px;
  height: 40px;
  width:40px;
  background-color: rgba(255,255,255,0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  color: #fff;
  border-radius: 50%;
  transition: all 0.5s ease;
}

.footer-col .name{
  font-weight: bold;
}

.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #fff;
}

.footer-col .social-links .address{
  color:#bbb;
  margin-top: 20px;
  margin-left: 0px;
  font-family: 'Poppins', sans-serif;
  font-size: 0.95rem;
}

/* footer css ends */

@media (max-width:1000px){
  /* navigation bar css starts */
  .navigation-bar .branch-name{
      display: block;
    }

    .checkbtn{
      display: block;
    }

    nav ul{
      position: fixed;
      width: 100%;
      height:40%;
      background: #451f55;
      top:80px;
      left:-100%;
      text-align: center;
      transition: all .5s;
      overflow-y: scroll;
    }

    nav ul li{
      width: 100%;
      display: block;
      margin: 20px 0;
      line-height: 15px;
    }

    nav ul li a{
      font-size:16px;
    }

    .navbar a:hover{
      background: none;
      color: #ceb8d9;
    }

    #check:checked ~ .nav-items{
      left:0%;
    }

    /* navigation bar css ends */

    .footer-col{
      width: 100%;
      margin-bottom: 30px;
    }
}
