@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Tektur:wght@400..900&display=swap');


.font-tektur {
  font-family: "Tektur", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
  
}